

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-image: url(../img/light_geometric.png);
}
a {
  color: #6EA526;
}
a:hover {
  color: #3B7200;
}
.navbar-inverse .navbar-inner {
	background-color: #333;
	background-image: url(../img/dark_geometric.png);
}

.navbar .nav {margin-bottom: -1px;}
.nav li.active {border-bottom: 4px solid yellow;}

hr {border-top: 4px solid #87BE3F;}

/*Projects*/
.project, .mainrow .inner{
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.project img {
  margin-top:-40px;
  height: 200px;
  margin-left: 7px;
}
.project dt {
  width: 120px;
}
.project dd {
  margin-left: 140px;
}
.project dd.label {
  margin-left: 20px;
}
.project p {
  width: 800px;
}
.project h2 a {
  font-size: 14px;
  font-weight: normal;
}

/*Home page*/
/*.mainrow .inner {
  border-radius: 0;
  padding: 0;
}*/
.mainrow {
  margin-top: 30px;
}
.mainrow img {
  width: 100%;
  max-width: 328px;
  margin-bottom: 10px;
}

/*Classes*/
table.classes tr {
  background-color: #fff;
}
table.classes th {
  background-color: #f9f9f9;
  vertical-align: middle;
  text-align: center;
}
table.classes ul {
  list-style-type: none;
  margin: 0;
}