@import url(https://fonts.googleapis.com/css?family=Crete+Round|Source+Code+Pro);
html,body {
    height: 100%;
    margin: 0;
}
body {
    position: relative;
    background-image: url(img/light_geometric.png);
}
main {
    /* centering */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #333;

    /* top & bottom bars */
    padding: 20px 20px 30px;
    border: solid 2px #999;
    border-width: 2px 0;
}
main h1 {
    font: normal 48px 'Crete Round', serif;

    margin-top: 0;
    padding-top: 0;
}
nav a {
    color: #333;
    text-decoration: none;
    border-bottom: dashed 1px;
    margin: 0 10px;
}
nav a:hover {
    color: #000;
    border-bottom-style: solid;
}

nav a:nth-child(1):hover {
    color: #C00;
}
nav a:nth-child(2):hover {
    color: #D90;
}
nav a:nth-child(3):hover {
    color: #090;
}
